/.ipynb_checkpoints/

/thesis/mmcs_sfedu_thesis/bachelorDiploma.aux
/thesis/mmcs_sfedu_thesis/bachelorDiploma.bcf
/thesis/mmcs_sfedu_thesis/bachelorDiploma.log
/thesis/mmcs_sfedu_thesis/bachelorDiploma.out
/thesis/mmcs_sfedu_thesis/bachelorDiploma.pdf
/thesis/mmcs_sfedu_thesis/bachelorDiploma.run.xml
/thesis/mmcs_sfedu_thesis/bachelorDiploma.synctex.gz
/thesis/mmcs_sfedu_thesis/bachelorDiploma.tex
/thesis/mmcs_sfedu_thesis/bachelorDiploma.thm
/thesis/mmcs_sfedu_thesis/bachelorDiploma.toc
/thesis/mmcs_sfedu_thesis/main.aux
/thesis/mmcs_sfedu_thesis/main.bbl
/thesis/mmcs_sfedu_thesis/main.bcf
/thesis/mmcs_sfedu_thesis/main.blg
/thesis/mmcs_sfedu_thesis/main.dvi
/thesis/mmcs_sfedu_thesis/main.fdb_latexmk
/thesis/mmcs_sfedu_thesis/main.fls
/thesis/mmcs_sfedu_thesis/main.log
/thesis/mmcs_sfedu_thesis/main.out
/thesis/mmcs_sfedu_thesis/main.out.ps
/thesis/mmcs_sfedu_thesis/main.pdf
/thesis/mmcs_sfedu_thesis/main.run.xml
/thesis/mmcs_sfedu_thesis/main.synctex.gz
/thesis/mmcs_sfedu_thesis/main.thm
/thesis/mmcs_sfedu_thesis/main.toc
/thesis/mmcs_sfedu_thesis/README.md
/thesis/mmcs_sfedu_thesis/core/title_macro.log
/plotter/unet_own.log
/plotter/unet_own.tex
/plotter/unet_own.aux
/plotter/unet_own.pdf
/plotter/unet_own.synctex.gz
